{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Cauldron Overflow Dashboard
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-6">
            <h3>Latest Users</h3>
            <ol>

            </ol>
        </div>
        <div class="col-6">
            <h3>Top Reserved</h3>
            <ol>

            </ol>
        </div>
    </div>
{% endblock %}
